body {
    margin: 0px !important;
}

html {
    all: unset;
}
.stats-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.stats-cards .col-md-2 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
#header {
    margin: 20px;
}

.card {
    margin-bottom: 20px;
    margin-top: 20px;
}


hr {
    width:50%;
    margin-left:25% !important; 
    margin-right:25% !important;
    color: #333;
    background-color: #333;
}

.stats-table-main {
    display: flex;
    margin: auto;
    width: 79%;
}

#stats-table .col-md-12 {
    flex: initial;
}

.table-responsive {
    overflow-x: hidden;
    min-height: 300px;
}

#stats-table.row {
    margin: 0px;
}

.charts.row {
    margin: 0px;
}

.charts .col-md-10 {
    margin:auto;
}

@media only screen and (max-width: 600px) {
    .stats-table-main {
        display: flex;
        margin: auto;
        width: 96%;
    }
    .table-responsive {
        overflow-x: auto;
    }

    .stats-cards .col-md-2 {
        width:50%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .stats-cards .card {
        margin-bottom: 15px;
        margin-top:15px;
    }

    .stats-cards .card-body h4 {
        font-size: 1.2rem;
    }

    .brand.col-md-12 {
        width:auto;
    }

    .brand.row {
        flex-wrap: unset;
    }

    .navbar-toggler {
        float:right;
        padding-top: 9%;
    }
}

#footer {
    width: 100%;
}

#footer p {
    padding: 20px 0;
}

#footer svg {
    padding-left: 10px;
}

#nav .navbar {
    display: block;
}

#nav a {
    margin: 0px;
    outline: none;
    /* width: 100%;
    text-align: center; */
}

#nav li {
    margin-left: 8px;
    margin-right: 8px;
}

#basicExampleNav .navbar-nav {
    padding: 0px;
    margin: auto;
}

    
.brand.col-md-12 {
    text-align: center;
}

#nav .navbar-brand {
    font-family: cursive;
    font-weight: bold;
    font-size: 2.3rem;
}