body {
    margin: 0px !important;
}

html {
    all: unset;
}
.stats-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#header {
    margin: 20px;
}

.card {
    margin-bottom: 30px;
}


hr {
    width:50%;
    margin-left:25% !important; 
    margin-right:25% !important;
    color: #333;
    background-color: #333;
}

.stats-table-main {
    display: flex;
    margin: auto;
    width: 83%;
}

#stats-table .col-md-12 {
    flex: initial;
}

.table-responsive {
    overflow-x: hidden;
}

#stats-table.row {
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .stats-table-main {
        display: flex;
        margin: auto;
        width: 96%;
    }
    .table-responsive {
        overflow-x: auto;
    }
}

#footer {
    width: 100%;
    height: 20%;
}

#footer p {
    padding-top: 20px;
}

#footer .social-icon {
    padding-left: 10px;
}

